<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
	<h1>
		Welcome to {{ title }}!
	</h1>
	<img class="logo" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
	<p>search below to view images from flickr: you can also use "," to seperate multiple query's.</p>
	<input type="text" placeholder="search" #search>
	<button (click)="find(search.value)">find me</button>
</div>
<div>
	<div class="loading" *ngIf="loading">loading...</div>
	<div class="grid">
		<div class="img__container" *ngFor="let img of data.photos.photo">
				
			<img class="img__img" src="https://farm{{img.farm}}.staticflickr.com/{{img.server}}/{{img.id}}_{{img.secret}}.jpg"
			 alt="" srcset="">
			<div class="img__img--description">
				<!-- sometimes = empty string-->
				<div *ngIf="img.title != ''">{{img.title}}</div>
				<div *ngIf="img.title == ''">{{search.value}}</div>
			</div>
			<h1>{{img.id}}</h1>
		</div>
	</div>

</div>
<!-- not used in this project <router-outlet></router-outlet>-->