.logo {
	width:300px;
}
.loading {
	text-align: center;
	animation: breathing 3s ease-out infinite normal;
}
@keyframes breathing {
	0% {
	  transform: scale(0.9);
	}
  
	25% {
	  transform: scale(1);
	}
  
	60% {
	  transform: scale(0.9);
	}
  
	100% {
	  transform: scale(0.9);
	}
}
.grid {
	max-width: calc(100vw-2em);
	display: grid;
	margin-left:1em;
	grid-gap:0px;
	@include bp(mobile) {
		grid-gap:5px;
		margin-left:5vw;
		margin-top:1em;
		width:90vw;
	}
	grid-template-columns: repeat(auto-fill,180px);
	
}
.img__container {
	position: relative;
	.img__img {
		display: block;
		width: 180px;
		height:200px;
		&--description {
			position: absolute; 
  			bottom: 50px; 
  			background: rgb(0, 0, 0);
  			background: rgba(0, 0, 0, 0.5);
  			color: #f1f1f1; 
  			width: 180px;
  			transition: .5s ease;
  			opacity:0;
  			color: white;
  			font-size: 20px;
		}
	}
	width: 180px;
	height: 250px;
	overflow-x: unset;
	text-align: left;
	&:hover .img__img--description {
		opacity: 1;
	}
}
